@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;700&display=swap');
h1, h2, li, footer, p{
    font-family: 'Signika', sans-serif;
}
 footer{
    color: white;
    background-color: #BF3952;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
}
body{
  max-width: 600px;
  margin: 0 auto;
}
li{
   line-height: 1.5em; 
   font-size: 20px;
}
header{
  display: grid;
  grid-gap: 30px;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: #BF3952;
  color: white;
  border-radius: 6px;
  padding: 1em;
}
h1{
    font-size: 50px;
}
#currentyear{
    font-size: 20px;
}
