h1, h2, li, footer, p{
    font-family: 'Signika', sans-serif;
}
header{
  text-align: center;
  background-color: #BF3952;
  color: white;
  padding: 1em;
  
}
 footer{
    color: white;
    background-color: #BF3952;
    padding: 10px;
    text-align: center;
   
    
  
    
}
body{
  max-width: 600px;
  margin: 0 auto;
}
li{
   line-height: 1.5em; 
   font-size: 1rem;
}
h1{
    font-size: 2rem;
}

h2{
  text-align: center;
}
#currentyear{
    font-size: 1rem;
}
.bottomFooter{
  text-align: center;
}

