@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;700&display=swap');
h1, h2, li, footer{
    font-family: 'Signika', sans-serif;
}
h1, footer{
    color: white;
    background-color: #BF3952;
    padding: 30px;
}
span{ color: orange;}
