
nav, h1, h2, date{
    font-family: 'Archivo', sans-serif;
}
p, section{
    font-family: 'Montserrat', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    background-color: #c5f0ec;
    color: #112a46;
 
}
.headings{
    text-align: center;
}
.social{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.social img{
    width: 40px;
    height: auto;
}



nav{
    grid-column: 4/5;
}

date{
    display:grid;
    grid-column: 1/5;
    text-align: center;
    background-color: #2e7595;
     width: 100%;
     padding: 10px;
     color: white;
}

.logo{
    width: 100px;
    height: auto;
    
}

 
 div h1{
     margin: 0;
     font-size: 1.5rem;
   
 }
header h2{
     font-size: 0;
 }


/*--------navigation--------*/

#hamburgerButton{
    display: flex;
}

nav button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #112a46;
}


nav ul{
    display: none;
     list-style-type: none;
    padding: 0px;
    margin: 0;
     background-color: #c5f0ec; 
}

nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #112a46; 
    
}

nav ul li a:hover{
    background-color: #2e7595;
    color: white;
}

nav ul.open{
    display: block;
    padding: 20px;
  
    text-align: center;
    
}
nav a{
    padding: 50px;
}
 ul#primaryNav.open{
       position: absolute; 
    left: 0px;
     top: 22%;
    z-index: 1;
    width: 100%;
     padding: 0; 
 }
nav ul li.active a{
    background-color: #2e7595;
    color: white;
}


#hamburgerButton span:nth-child(1){
display: block;
}
#hamburgerButton span:nth-child(2){
display: none;
}

#hamburgerButton.open span:nth-child(1){
display: none;
}
#hamburgerButton.open span:nth-child(2){
display: block;
}
/*--------end navigation---------*/


/*--------main--------*/



.event{

    background-color: #c5f0ec;
     margin: 5px;
     padding: 20px;
}
.news{
 background-color: #112a46;
     margin: 5px; 
     color: white; 
     padding: 20px; 
}

.event h3 {
    color: #112a46;
   margin: 10px;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;  
}
.weather h3 {
    color: white;
   margin: 10px;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;  
}
.join h3 {
    color: white;
    margin: 10px;
    text-align: center;
    font-size: 1.5rem;  
}
.news h3 {
    color: white;
margin: 10px;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;  
    margin: 0;
}
.spotlight h3 {
    color: #112a46;
    background-color: #c5f0ec;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem; 
    margin: 10px; 
}

.event h4{
    padding: 20px;
    text-align: center;
}


main p{
    padding-left: 20px;
    padding-right: 20px;
  
}
main{
    display:block;
   
}

footer{
    background-color: #c5f0ec;
    color: #112a46;
    padding-bottom: 20px;
}

.upperFooter{
    display: block;
    text-align: center;
    justify-self: end;
}

footer .bottomFooter{
text-align: center;
}

footer h2{
    font-size: 1.2rem;
}
.map{
    color: #0d7085;
}

ul#primarynav.open{
    display: block;
}

.heropic{
    width:100%;
    height: 100%
    
}

.hero{
    position: relative;
    margin: 5px;
    background-color: #2e7595;

}


.headerOverlay{
    position: absolute;
    top: 1px;
    left: 30px;
    color: #112a46;
    font-size: 2rem;
}

.buttonOverlay{
    position: absolute;
    bottom: 50px;
    right: 30px;
}

.joinButton{
    border: none;
  border-radius: 20px;
  background-color: #e7c736;
  padding: 1rem;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  font-family: 'Archivo', sans-serif;

}

.joinButton:hover{
    background-color: #43cec2;
    
}

/*jsDate javascript to show on tuesdays and wednesdays*/
#banner{
    background-color: #e7c736;
    padding: .5rem;
    text-align: center;
    font-family: 'Archivo', sans-serif;
    display: none;
}

#jsDate span:nth-child(1){
display: block;
}


/*end jsDate*/

main{
    max-width: 1500px;
    margin: 0 auto;
}

.joinSection{
       border: none;
  border-radius: 20px;
  background-color: #e7c736;
  padding: 1rem 40px 1rem 40px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  font-family: 'Archivo', sans-serif;

}
.joinSection:hover{
    background-color: #43cec2;
    
}

.spot1{
    border: 1px solid #c5f0ec;
    margin: 20px;
    background-color: #c5f0ec;   
}

.spot2{
    border: 1px solid #c5f0ec;
    margin: 20px;
    background-color: #c5f0ec;
}
.spot3{
    display: none;
}
.spotlight{
       background-color: #2e7595;
    margin:5px;
    padding: 5px;
}

.weather{
    background-color: #112a46;
    margin: 5px;
    color: white;
    text-align: center;
    padding: 20px;
}
.join{
    display: none;
}

p a{
    color: #2e7595;  
}

