body{
    font-family: 'Lato', sans-serif;

}
main{
    max-width: 1500px;
    margin: 0 auto;
}
/*--------------------header-----------------------------------*/
.upperHeader{
    display: grid;
    margin: 20px;
}
.logo{
    grid-column: 1/2;
}
h1{
    grid-column: 2/3;
    margin: 0;
}
.social{
    display: grid;
    grid-column: 4/5;
    justify-content: right;
    align-items: center;

}
.icon{
    display: grid;
    grid-column: 4/5;
}
.phone{
    grid-column: 1/2;
    margin-left: 20px;
    margin-right: 10px;
}
.phonenum{
    grid-column: 2/3;
    margin: 0;
}
.facebook, .insta, .twitter{
    margin: 8px;
}
.lowheader{
    display: grid;
    justify-content: right;
    background-color: #eceae1;
}
/*-------------------------------------------*/

/*--------------------navigation-----------------------------------*/


#hamburgerButton{
    display: flex;
}

nav button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
}



nav ul{
    display: none;
     list-style-type: none;
    padding: 0px;
    margin: 0;
     background-color: #eceae1; 
}

nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: black;
    font-weight: bold; 
    
}

nav ul li a:hover{
    background-color: rgba(0, 0, 0, .2);
    
}

nav ul.open{
    display: block;
    padding: 20px;
    text-align: center;
    
}

 ul#primaryNav.open{
       position: absolute; 
    left: 0px;
 
    z-index: 1;
    width: 100%;
     padding: 0; 
 }
nav ul li.active a{
    background-color: rgba(0, 0, 0, .2);
    
}


#hamburgerButton span:nth-child(1){
display: block;
}
#hamburgerButton span:nth-child(2){
display: none;
}

#hamburgerButton.open span:nth-child(1){
display: none;
}
#hamburgerButton.open span:nth-child(2){
display: block;
}

ul#primarynav.open{
    display: block;
}
/*--------------------------------------------*/
/*----------footer----------------------------*/
footer{
    background-color: #474747;
    color: white;
}
.upperFooter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
.middle-side{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   justify-content: center;
   width: 100%;
}
.bottom-logo{
    grid-column: 1/4;
}
.bottomFooter{
    text-align: center;
    padding: 15px; 
}
.attribute, .map{
    color:  #b7a42a;
}
/*-------------------------------------------*/

/*----Home----------------------------------*/

.banner img{
    width: 100%;
}

.headerOverlay{
    position: absolute;
      top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
    width: 100%;
}
.headerOverlay h2{
  text-shadow: .5px .5px 5px #eceae1;
     margin-top: 0px;
     margin-bottom: 50px;
     margin-left: 15px;
      margin-right: 15px;
}



.overlayButton {
    background-color: #b7a42a;
       border: none;
  border-radius: 20px;
  padding: .8rem 3rem .8rem 3rem;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
  
}

.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.hello{
    grid-column: 2/4;
    text-align: center;
}
h2{
    font-size: 2em;;
}
.hello p{
    font-size:1.2em;
    margin: 20px;
}
.featured{ 
grid-column: 1/5;
display: grid;
grid-template-columns: 1fr 1fr;
background-color: #545b54;
margin: 70px;
padding: 30px;
justify-content: center;

}

.temple-p{
    color: white;
    padding-right: 30px;
}
.hone-temple-img{
    width: 100%; 
}
.temple-p h2, .temple-p h3{
    text-align: center;
    margin: 15px;
}
.weather1{
    grid-column: 1/2;
    grid-row: 3/4;
    background-color:#eceae1;
}
.weather3{
    grid-column: 2/5;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
     background-color:#eceae1;
}
.weather{
    padding: 20px;
    margin: 30px;
}
.weather h3{
    grid-column: 1/4;
    text-align: center;
}
.enjoy{
    grid-column: 1/5;
    text-align: center;;
}





