@media only screen and (min-width: 40rem){

    .headerOverlay{
    
      top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
    font-size: 2rem;
    width: 100%;
}
.headings{
    display: flex;
   align-items: center;
}
h1{
    font-size: 2em;
}
.icon{
    grid-row: 1/2;
     margin-top: 0px;
}
.social-icon{
    grid-column: 1/2;
    grid-row: 1/2;
}
h2{
    font-size: 2em;;
}

.headerOverlay{
    position: absolute;
      top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
    width: 100%;
}
.headerOverlay h2{
    margin-bottom: 50px;
}
.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.weather3{
    grid-column: 2/5;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.hello{
    grid-column: 1/5;
 font-size:1.2em;
}
.upperFooter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.left-side{
    grid-row: 1/2;
}
}